<div class="question row">
	<div class="span2 width-1-3 margin-0">
		<div>
			<img src="/uploads/avatar{{ q.author.profile.avatar }}" class="img-polaroid" width="120px" height="120px">
		</div>
		<div class="likes">
			<div class="value pull-left" id="q{{q.id}}">
				{{ q.rating }}
			</div>
			<div class="plusmines pull-left">
				<div class="plus">
					<a class="btn btn-plusminus js-like" href="like/" data-id="{{ q.id }}" data-url="/like/" data-mark="1" data-ptype="0"><i class="icon-chevron-up"></i></a>
				</div>
				<div class="minus">
					<a class="btn btn-plusminus js-like" href="like/" data-id="{{ q.id }}" data-url="/like/" data-mark="-1" data-ptype="0"><i class="icon-chevron-down"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="span7 width-2-3 margin-0">
		<div class="height-150" >
			<h4><a href=' /answer?q_id={{q.id}}'>{{ q.header }}</a></h4>
			<p>{{ q.question_text }}</p>
			<div>
				<a href="#">Answers</a> <span class="badge">{{ q.answers__count }}</span>
				<a href="#">Tags</a>:
				{% for t in tags %}
					{% ifequal q.id t.id %}
						<a href="#">{{ t.tag__tag_text}}</a>{% if not forloop.last %},{%endif %}
					{% endifequal %}	
				{% endfor %}
			</div>
		</div>
		<div class="float-right margin-right-20">
			<p>Asked: <a href='#'>{{ q.author.profile.nickname }}</a></p>
			DateTime: {{ q.pub_date }}
		</div>
	</div>
</div>

